h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
  }

  #status {
    text-align: center;
  }

  #message {
    font-size: 24px;
    margin-bottom: 20px;
  }

  table {
    margin: 20px auto;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: lightgray;
  }